*.pyc

#pycharm
.idea/
.out

tile_list/
tiles/output/**
data/asia
data/africa
data/south_america
data/emissions
data/temp

# any wayward data files
*.tsv
*.csv
*.json

# any temporary qc databases
*.db


#testing files
*.bat

*.lock

tokens/